.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 10vh; */
  width: 100%;
  /* max-width: 1110px; */
  margin: auto;
  background-image: linear-gradient(
    116.64deg,
    rgba(0, 0, 0, 0.8) 0.46%,
    rgba(0, 0, 0, 0) 100%
  );
  background-image: url('https://res.cloudinary.com/daat8xhiy/image/upload/v1632521511/login/240_F_119115529_mEnw3lGpLdlDkfLgRcVSbFRuVl6sMDty_fwp31u.jpg');

  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
}

@media screen and (min-width: 992px) {
  .login-form-container {
    flex-direction: row;
    justify-content: space-around;
    background-image: linear-gradient(
      116.64deg,
      rgba(0, 0, 0, 0.8) 0.46%,
      rgba(0, 0, 0, 0) 100%
    );
    background-image: url('https://res.cloudinary.com/daat8xhiy/image/upload/v1632521511/login/240_F_119115529_mEnw3lGpLdlDkfLgRcVSbFRuVl6sMDty_fwp31u.jpg');
  }
}

/* .login-website-logo-mobile-image {
  width: 165px;
  margin-top: 50px;
  margin-bottom: 35px;
}

@media screen and (min-width: 992px) {
  .login-website-logo-mobile-image {
    display: none;
  }
} */

.login-image {
  width: 278px;
}

@media screen and (min-width: 992px) {
  .login-image {
    width: 60%;
    max-width: 524px;
    flex-shrink: 1;
    margin-right: 20px;
  }
}

/* .login-website-logo-desktop-image {
  width: 185px;
}

@media screen and (max-width: 991px) {
  .login-website-logo-desktop-image {
    display: none;
  }
} */

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 350px;
  background-color: #0c0b10;
}

@media screen and (min-width: 992px) {
  .form-container {
    width: 350px;
    flex-shrink: 0;
    box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
    padding: 64px 48px 64px 48px;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.input-label {
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: white;
}

.sign-in {
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
  color: white;
}

.username-input-field {
  font-size: 14px;
  height: 40px;
  border: 1px solid #d7dfe9;
  background-color: #333333;
  color: white;

  border-radius: 2px;
  margin-top: 5px;
  padding: 8px 16px 8px 16px;
}

.password-input-field {
  font-size: 14px;
  height: 40px;
  border: 1px solid #d7dfe9;
  background-color: #e2e8f0;
  color: #64748b;
  border-radius: 2px;
  margin-top: 5px;
  padding: 8px 16px 8px 16px;
}

.login-button {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  height: 40px;
  width: 40%;
  margin-top: 20px;
  margin-bottom: 2px;
  background-color: red;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  outline: none;
}

.error-message1 {
  align-self: start;
  font-size: 13px;
  margin-top: 6px;
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 16px;
  color: #ff0b37;
}
